.App {
  text-align: center;
  flex: 3;
}

.container{
  margin: 50px auto;
  display: flex;
}

.event-sidebar{
  flex: 1;
}

.fc-multiMonthYear-view::-webkit-scrollbar {
  width: 0px;
}

.fc-multiMonthYear-view::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.data{
  width: 100%;
  height: 100%;
}

td{
  position: relative;
  vertical-align: middle;
}
